#body {
    margin: 0 auto;
}

.works01 {
    max-width: 1000px;
    box-sizing: border-box;
    background: rgba(242, 232, 219, 0.4);
    border-radius: 20px;
    padding: 5%;
    margin: 100px auto;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 38px;
}

.header_title_large {
    width: 172px;
}

.header_title_small {
    font-size: 20px;
}

.works01_detail {
    display: flex;
    justify-content: space-evenly;
}

.details_table {
    width: 30%;
}

.detail {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px dotted;
    padding: 22px 4px;
}

dt {
    width: 40%;
    padding-right: 20px;
}

dd {
    width: 60%;
}

.single_image {
    width: 50%;
    padding-right: 10%;
}

.detail02 {
    max-width: 1000px;
    margin: 0 auto;
}

.detail02 h4 {
    display: flex;
    padding-left: 20px;
    font-weight: normal;
    margin: 0px;
    text-align: center;
}

.detail02 h4::before {
    content: '';
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 99rem;
    background-color: #603813;
    margin-right: 6px;
}

.desc {
    padding: 20px;
    line-height: 1.87;
}

.capture {
    margin: 140px auto 120px auto;
    width: 80%;
}

.page_selection {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.to_works_all {
    width: 240px;
    box-sizing: border-box;
    text-align: center;
    background: #edc9b9;
    padding: 24px 58px;
    border-radius: 99rem;
    transition: 0.5s;
    letter-spacing: 0.025em;
    border: none;
}

.before_btn,
.after_btn {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    border-radius: 99rem;
    transition: 0.5s;
    letter-spacing: 0.025em;
    border: none;
}