.works_index {
    max-width: 1000px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 180px auto 0 auto;
    box-sizing: border-box;
}

.works_index ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works_index ul li {
    width: 30%;
    max-width: 300px;
}

h3 {
    font-weight: normal;
    padding: 16px 12px 133px 12px;
}

@media screen and (max-width: 767px) {
    .works_index {
        margin-top: 90px;
        margin-bottom: 100px;
    }

    .works_index ul {
        display: block;
    }

    .works_index ul li {
        width: 100%;
        max-width: fit-content;
    }

    h3 {
        padding: 16px 12px 60px 12px;
    }
}